<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sevenoclock.mobile" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="false"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/MyTheme"
            android:name="net.sevenoclock.mobile.settings.Values" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".home.LoadingActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

        <activity android:name=".home.LandingActivity" android:screenOrientation="portrait"
                  android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".home.SignupActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog" android:windowSoftInputMode="stateHidden" />
        <activity android:name=".home.Step1Activity" android:configChanges="orientation|screenSize" />
        <activity android:name=".home.Step2Activity" android:configChanges="orientation|screenSize" />
        <activity android:name=".home.Step2SchoolDialogActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".home.Step3Activity" android:configChanges="orientation|screenSize" />
        <activity android:name=".main.MainActivity" android:configChanges="orientation|screenSize" />
        <activity android:name=".main.MainUnionActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog" />

    </application>

</manifest>
